@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: inherit;
    font-weight: inherit;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

p {
    word-break: keep-all;
}

body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    line-height: 1;
    color: #444;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 100px 0;
}

.sec .title {
    max-width: 1200px;
    margin: 0 auto 28px auto;
    padding: 0 15px;
}

.sec .title h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.sec .title p {
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
}